@font-face {
	font-family: "PT Sans Narrow";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/ptsansnarrow_regular.woff") format("woff");
	font-display: fallback;
}

@font-face {
	font-family: "PT Sans Narrow";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/ptsansnarrow_bold.woff") format("woff");
	font-display: fallback;
}