.btn {
	@include border-box();
	display: block;
	padding: 15px;
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgb(229, 221, 213);
	&:hover {
		border: 1px solid rgb(213, 201, 189);
	}
	&:active {
		background-color: rgb(213, 201, 189);
		opacity: 0.3;
	}
}
